@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Sriracha&display=swap');

   
body {
    background-color: rgb(125, 236, 214)  
}

container {
    background-color: rgb(15, 167, 151);
    margin: 0 auto
}

h1 {
    font-family: 'Sriracha', sans-serif;
    font-size: xx-large;
}

h2 {
    font-family: 'Sriracha', sans-serif;
    font-size: xx-large;
}

p {
    font-family: 'Sriracha', sans-serif;
    font-size: large;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 50px;
    border-bottom: 4px solid rgb(153, 15, 199);
    position: sticky;
    top: 0;
    z-index: 100;
}
.navbar {
    display: flex;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-list li a {
    text-decoration: none;
    color: black;
    font-weight: bold;